footer
    .wrapper
        .top.columns
            h1 Gottogive
            ul.columns
                li.address 123 ถ.สุขุมวิท พระโขนง กรุงเทพฯ 10000
                li.phone 085-556-6755
                li.email info@gottogive.co
        .bottom.columns
            h2 สำหรับท่านที่สั่งซื้อสินค้า
            ul.columns 
                li 
                    a แจ้งชำระเงิน

script(src="js/vendor/jquery-3.2.1.min.js")
script(src="js/vendor/masonry.min.js")
script(src="js/app.js")