doctype html
html(lang="en")
  head
    title= pageTitle
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/bulma.css")
    link(rel="stylesheet", href="css/icon.css")
    link(rel="stylesheet", href="css/styles.css")
  body
    header.bg-white
        .wrapper.columns
            a.column.logo
              img(src="images/logo.png")
              h1 Gottogive
            .column.is-three-quarters
              .quote-brand New way of exercise Spirits and heart
              nav 
                ul 
                  li 
                    a หน้าแรก
                  li 
                    a บทความ 
                  li 
                    a Live class
                  li 
                    a วิธีการชำระเงิน 
                  li 
                    a วิดีโอเทคนิค
                  li 
                    a ติดต่อเรา
                  li.bold
                    a เข้าสู่ระบบ
                  li.bold
                    a สมัครสมาชิก
            .column.menu
              span MENU