include modules/header.jade

include modules/hero.jade
include modules/box-content.jade

.wrapper.blog-home
    include modules/quote.jade
    include modules/blog-single.jade
    include modules/blog-single.jade
    include modules/blog-single.jade
    include modules/blog-single.jade
    include modules/category-box.jade


include modules/footer.jade